header {
	background: url(../img/background_logo.jpg) no-repeat center top / cover;
	height: 100vh;
}

body {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	color: #222;
}


.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

.container {
	width: 930px;
	margin: 0 auto;
}

.logo {
	margin-top: 41px;
	float: left;
	background-size:cover;
}

nav {
	float: right;
	margin-top: 45px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}

.menu li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.titles_first{
	font-size: 40px;
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}

h1 {
	font-size: 75px;
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}

.button	{
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0px auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}

.title {
	padding-top: 115px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.title p {
	color: #777;
	text-align: center;
	font-size: 16px;
	margin-top: 10px;
}

.smaller {
	width: 74px;
}

.services {
	margin-top: 80px;
}

.services_item {
	width: 270px;
	float:left;
	text-align: center;
}

.services_item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}


.services_item p {
	color: #777;
	font-size: 14px;
	line-height: 1.55em;
}


.services_item:last-child {
	float:right;
}

.services_item:nth-child(2) {
	margin-left: 60px;
}
#services {
	padding-bottom: 120px;
}

#portfolio {
	padding-bottom: 120px;
	background: #f7f7f7;
}

.smallern {
	width: 240px;
}

.works {
	margin-top: 70px;
}

.works img {
	float: left;
}

.works img:nth-child(2) {
	margin-left: 29px;
}

.works img:last-child {
	float: right;
}

.blocks {
	padding-top: px;
}

.title_block1 {
	float:left;
	text-align: right;
	line-height: 1.6em;
	width: 300px;
}

.block_type1 {
	padding-top: 45px;
}

.block_type2 {
	padding-top: 45px;
}

.block_type1 img {
	margin-left: 75px;
	margin-top: 18px;
}

.title_block2 {
	float: right;
	text-align: left;
	line-height: 1.6em;
	width: 300px;
}

.block_type2 img {
	margin-left: 375px;
	margin-top: 18px;
}

.copyright {
	text-align: center;
	padding-bottom: 115px;

}